{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte contenant votre email existe, un email contenant un lien de réinitialisation vient de vous être envoyé.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
