{% extends 'base.html.twig' %}

{% block body %}

	{% for trick in tricks %}


		<section class="tricks">
			<article>
            <a href="http://placehold.it/350x150" class="img"></a>
            <h1>{{ trick.name }}</h1>
				<div class="metadata">{{ trick.date ? trick.date|date('d-m-Y H:i:s') : '' }}</div>
                <div class="content">{{ trick.description }}</div>
			
			</article>
		</section>

	{% endfor %}

{% endblock %}
