{% extends 'base.html.twig' %}

{% block body %}

	<img src="https://cdn.pixabay.com/photo/2021/08/12/10/38/mountains-6540497_960_720.jpg" alt="montagne">

	
		{% for trick in tricks %}
				<img src="http://placehold.it/200x100" alt="placeholder">
				<a href="{{path ('trick_show', {'id': trick.id}) }}">
					<h1>{{ trick.name }}</h1>
				</a>
			
		
	{% endfor %}


{% endblock %}
